@import "tailwindcss";
@import "tw-animate-css";
@import "@ctrlp/ui/shadcn.css";

@source "../../../packages/ui/src";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    border-color: var(--color-border);
    outline-color: color-mix(in oklab, var(--color-ring) 50%, transparent);
  }

  html {
    font-family: var(--font-din-round);
  }
}
